/* Custom Font */
@font-face {
    font-family: Oswald;
    src: url(./Fonts/Oswald-VariableFont_wght.ttf);
}

/* Header */
header {
    text-align: center;
    font-family: Oswald;
    font-size: 80px;
    background-image: url(./Pictures/free-sky-blue-abstract-background-m8ysc.png);
}

/* Animated "welcome to my Portfoilo" */
.animatedtext {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: row;
}

.animatedtext h1 {
    font-family: Oswald;
    font-size: 60px;
    overflow: hidden;
    border-right: .15em solid orange;
    white-space: nowrap;
    margin: 0 auto;
    letter-spacing: .15em;
    animation:
        typing 3.5s steps(40, end),
        blink-caret .75s step-end infinite;
}

@keyframes typing {
    from {
        width: 0
    }

    to {
        width: 100%
    }
}

@keyframes blink-caret {

    from,
    to {
        border-color: transparent
    }

    50% {
        border-color: orange;
    }
}

/* seperation bar */
.bar {
    width: 80%;
    background-color: skyblue;
    border: 1px solid skyblue;
}

/* Side NavBar */
.NavBar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    height: 100%;
    width: 200px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: white;
    overflow-x: hidden;
    padding-top: 20px;
    position: fixed;
    padding-left: 10px;
    font-family: Oswald;
    font-size: 20px;
    border-right: 5px;
    box-shadow: skyblue;
}

/* navbar Decoration */
.ButtonDecoration {
    border: 3px solid skyblue;
    border-radius: 16px;
    padding: 10px 20px;
    text-align: center;
    margin: 4px 2px;
    display: inline-block;
    cursor: pointer;
}

.ImgSet {
    height: auto;
    width: 30px;
}

.Navlink {
    text-decoration: none;
    color: black;
}

.Navlink:hover {
    text-decoration: underline skyblue;
}

/* So objects wont collide with navbar */
.Body {
    margin-left: 200px;
}


/* Skill page */
.skillHeader {
    font-family: Oswald;
    margin-left: 5%;
}

.skill-bars {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    gap: 60px;

}

/* HTML skill pad */
.Htmlskill {
    border-radius: 10%;
    height: 500px;
    width: 300px;
    background-color: #f06529;
    border: 10px solid #e34c26;
    padding-left: 15px;
    padding-right: 15px;
}

.HtmlT {
    font-family: Oswald;
}

.HtmlP {
    font-family: Oswald;
    font-size: 25px;
}

.HtmlPro {
    width: 300px;
    height: 50px;
}

/* CSS skill pad */
.CSSskill {
    border-radius: 10%;
    height: 500px;
    width: 300px;
    background-color: #2965f1;
    border: 10px solid #264de4;
    padding-left: 15px;
    padding-right: 15px;
}

.CssT {
    font-family: Oswald;
}

.CssP {
    font-family: Oswald;
    font-size: 25px;
}

.CssPro {
    width: 300px;
    height: 50px;
}

/* JavaScript skill pad */
.JSskill {
    border-radius: 10%;
    height: 500px;
    width: 300px;
    background-color: #F0DB4F;
    border: 10px solid #323330;
    padding-left: 15px;
    padding-right: 15px;
}

.JsT {
    font-family: Oswald;
}

.JsP {
    font-family: Oswald;
    font-size: 25px;
}

.JsPro {
    width: 300px;
    height: 50px;
}

/* About me Section */
.aboutMe {
    font-family: Oswald;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;

}

.AMT {
    margin-left: 0%;
}

.AMP {
    margin-left: 80px;
    margin-right: 75px;
    font-size: 20px;
    margin-top: 0px;
    margin-bottom: 0px;
}

/* Contact information */
.Contact {
    display: flex;
    font-family: Oswald;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;
}

.contactList {
    display: flex;
    font-size: 20px;
    align-items: center;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    list-style: none;
}

/* Round Picture on Navbar */
.avatar {
    border-radius: 50%;
    height: auto;
    width: 150px
}