/* Custom Font */
@font-face {
    font-family: Oswald;
    src: url(../Fonts/Oswald-VariableFont_wght.ttf);
}

/* Name and picture placement */
header {
    text-align: center;
    font-family: Oswald;
    font-size: 80px;
    background-image: url(../Pictures/free-sky-blue-abstract-background-m8ysc.png);
}

/* seperation bar */
.bar {
    width: 80%;
    background-color: skyblue;
    border: 1px solid skyblue;
}

/* Side NavBar */
.NavBar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    height: 100%;
    width: 200px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: white;
    overflow-x: hidden;
    padding-top: 20px;
    position: fixed;
    padding-left: 10px;
    font-family: Oswald;
    font-size: 20px;
    border-right: 5px;
    box-shadow: skyblue;
}

/* navbar Decoration */
.ButtonDecoration {
    border: 3px solid skyblue;
    border-radius: 16px;
    padding: 10px 20px;
    text-align: center;
    margin: 4px 2px;
    display: inline-block;
    cursor: pointer;
}

.ImgSet {
    height: auto;
    width: 30px;
}

.Navlink {
    text-decoration: none;
    color: black;
}

.Navlink:hover {
    text-decoration: underline skyblue;
}

/* So objects wont collide with navbar */
.Body {
    margin-left: 200px;
}

/* Round Picture on Navbar */
.avatar {
    border-radius: 50%;
    height: auto;
    width: 150px
}

.resume {
    height: 1043px;
    width: 894px;
}

.resumebox {
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
}